
.line
{
    /* right: 400px; */
    margin-top: 30px;
    border: solid 2px black;
    width: 70px;
    margin-right: 15%;
}
.circle
{
 border-radius: 36px;
 margin-right: 15%;
 border: solid 2px black;width: 70px;height: 70px;
}
.square
{
    margin-right: 15%;
    margin-top: 30%;
    border: solid 2px black;
    width: 70px;
    height: 70px; 
}
.shape:hover,
.shape:focus {
    border: solid 2px #4CAF50;
    cursor: pointer;
}
img{
    border: solid 2px  #4CAF50!important;
 }
 .shapes{
margin-top:3%;
  /* margin-right: 10%;  */
 
  }  

  .aroundShape
 {
 width:100px;
 height:100px;
 background-color: #F08E2D; 
 margin-top:30%;
 margin-right: 20%;

 }
 .height
 {
     margin-top:5%!important;
 }
 .w3-blue
 {
     background-color:#4CAF50!important ;
 }
.design
{
    margin-top:20%;  
}
 /* .image
 {
    background-color: transparent;
 } */