<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="container" style="width:100%;" >
  <h1>{{name}}</h1>
  <div  class="row height" style="margin-top:10%;">
     <div class="col-md-2 design"> 
    בחר צבע קו:
    <input type="color" [(ngModel)]="borderColor" name="borderColor"><br>
    <input type="checkbox" name="filling2" [(ngModel)]="filling">
    עם מילוי<br>
    <div *ngIf="filling">
      בחר צבע מילוי:
      <input type="color" [(ngModel)]="fillColor" name="fillColor"><br>
    </div> בחר אחוזי
    אטימות:
    <input type="number" max="100" min="0" [(ngModel)]="opacity" name="op">
  </div> 
   
    <div class="col-md-8">
      <div class="offset-md-12">
        <div class="image-preview md-3">
          <form #form style="position: relative; width: 800px;height: 600px;">
            <img *ngIf="previewUrl" [src]="previewUrl" style="position: absolute; width: 800px; height: 600px; z-index: -1;"/>
            <img  *ngIf="!previewUrl" style="position: absolute; width: 800px; height: 600px;"/>
            <button (click)=close() class="material-icons" style="background-color:#F08E2D ">close
            </button>
            <button (click)="isClick=true" class="material-icons" style="background-color:#F08E2D ">edit
            </button>
              <canvas style="position: absolute;" #canvas2></canvas>
            <canvas style="position: absolute;background-color: transparent;" #canvas1></canvas>
          </form>
          <div class="col-md-12">
            <input class="col-md-6" type="file" name="image" style="margin-top: 5px;margin-left: 170px;height: 50px;width: 80%; background-color: #4CAF50;border-radius: 30px;" (change)="fileProgress($event)" />
          <button 
          class="col-md-6" style="margin-left: 170px;height: 50px;width: 80%; background-color:#4CAF50;border-radius: 30px;" (click)="goToImagesList()">התמונות שלי</button>
          </div>
        </div>
        <div class="form-group">
          <button style="background-color: #4CAF50;margin-right: 80%;" (click)="saveImage()"><i class="fa fa-save" style="font-size:70px"></i></button>
        </div>
      </div>
    </div>
    <div *ngIf="allShapes.length>0" class="col-md-2 shapes">
      <div *ngFor="let s of allShapes" class='aroundShape'> 
        <div (click)="shape=s" [ngClass]="{'circle':s.shapeName=='עיגול',
    'line':s.shapeName=='קו',
    'square':s.shapeName=='ריבוע'}" class="shape"> </div>
      </div>
    </div>
    <!-- לטופס של פרטי הצורה -->
  </div>
    <div *ngIf="isClick" style="display:block" class="w3-modal"> 
  <div style="width:50vw; margin-right: 20%; background-color: white;">

  <div  class="w3-container w3-blue">
    <button (click)="closeForm()" style="margin-right: 0px;" class="material-icons" style="background-color:#F08E2D ">close</button>
    <h2>פרטי התמונה</h2>
  </div>
  <form class="w3-container">
    <p>
    <label>שם התמונה</label>
    <input class="w3-input" type="text" [(ngModel)]="userimage.name" name="dfds"></p>
    <p>
    <label>תאור</label>
    <input class="w3-input" type="text"[(ngModel)]="userimage.description" name="xcz"></p>
    <p>
      <button (click)="closeForm()" style="background-color: #F08E2D;">שמירה</button> 
  </form></div></div>