
<!-- <img *ngFor="let i of images" [src]="i.pictuer" style="width: 100px; height: 50px;" (click)="goToEdit(i)"/> -->

<div *ngFor="let i of images" class="gallery">
    <img [src]="i.pictuer" (click)="goToEdit(i)" alt="Cinque Terre" width="600" height="400">
  <div class="desc">{{i.description}}</div>
</div>