<div id="id01" class="modal">
  
  <form class="modal-content animate" #formLogin="ngForm"  action="/action_page.php">
    
    <div class="modal-header">
      <!-- <div class="imgcontainer">
        <span (click)="goBack()" class="close" title="Close Modal">&times;</span>
      </div> -->
    <h4 style="color: white; font-size: 40px; text-align-last: right;">משתמש חדש</h4>
  </div>
    <div class="container">
      <div>
      <label for="lname"><b>* שם משפחה</b></label><br/>
      <input type="text" [(ngModel)]="newUser.lastName" placeholder="שם משפחה" name="lname" #lname="ngModel">
    </div>
    <div>
      <label for="fname"><b>* שם פרטי</b></label><br/>
      <input type="text" [(ngModel)]="newUser.firstName" placeholder="שם פרטי" name="fname" #fname="ngModel">
    </div>
    <div>
      <label for="uname"><b>* שם משתמש</b></label><br/>
      <input type="text" [(ngModel)]="newUser.userName" placeholder="שם משתמש" name="uname" #uname="ngModel">
    </div>
      <label for="psw"><b>* סיסמא</b></label><br/>
      <input type="password" [(ngModel)]="newUser.password" placeholder="סיסמא" name="psw"><br/>
      <button type="submit" (click)="AddUser()" >הרשם</button> 
    </div>
  </form>
</div>