/* .loc{
    text-align: center;
}
label{
    color:darkmagenta
} */

input[type=text], input[type=password] {
    width: 78%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  /* Set a style for all buttons */
  button {
    background-color:#4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 78%;
  }
  
  button:hover {
    opacity: 0.8;
  } 
  /* Extra styles for the cancel button */
  /* .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  } */
  
  /* Center the image and position the close button */
  /* .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  } */
  
  /* img.avatar {
    width: 40%;
    border-radius: 50%;
  } */
  
  .container {
    padding: 20px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
     /* Enable scroll if needed */
    /* overflow: auto; */
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* padding-top: 60px; */
  }
  .modal-header{
    background-color:#F08E2D;
    color:white !important;
    text-align: center;
    font-size: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.modal-footer{
/* border-top: 3px solid rgb(163, 156, 156); */
padding: 25px;
background-color: rgb(231, 227, 227);
width: 50%;
margin-right: 25%;
margin-bottom: 12px;
}
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    left: 25px;
    top: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    opacity: 0.5;
  }
  
  .close:hover,
  .close:focus {
    color:  white;
    cursor:pointer;
    opacity: 1.0;
    /* cursor:not-allowed; */
    /* cursor:no-drop; */
  }
  b{
    color: #F08E2D;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
