<!-- <div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div> -->
<div id="id01" class="modal">
  
  <form class="modal-content animate" #formLogin="ngForm"  action="/action_page.php">
    
    <div class="modal-header">
      <!-- <div class="imgcontainer">
        <span (click)="goBack()" class="close" title="Close Modal">&times;</span>
      </div> -->
    <h4 style="color: white; font-size: 40px; text-align-last: right;">הזדהות</h4>
  </div>
    <div class="container">
      <div>
      <label for="uname"><b>* שם משתמש</b></label><br/>
      <input type="text" [(ngModel)]="userName" placeholder="הכנס שם משתמש" name="uname" #uname="ngModel" required pattern="[A-Za-z0-9 ]*">
    </div>
      <label for="psw"><b>* סיסמא</b></label><br/>
      <input type="password" [(ngModel)]="password" placeholder="הכנס סיסמא" name="psw" ><br/>
      <button type="submit" (click)="login()" >התחבר</button> 
    </div>
    <div class="modal-footer">
      <span><a  routerLink="/New">משתמש חדש?</a></span>
    </div>
  </form>
</div>